<div class="container my-5">
    <h1 class="mb-3">Edit New secouristes</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updatesecouriste()">
                
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" readOnly name="id" [(ngModel)]="secouristedetails.id">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="secouristedetails.name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="secouristedetails.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="secouristedetails.phone">
                </div>
                <div class="mb-3">
                    <label for="adress" class="form-label">Adress</label>
                    <input type="adress" class="form-control" id="adress" name="adress" [(ngModel)]="secouristedetails.adress">
                </div>
                <button type="submit" class="btn btn-primary mr-5">Save</button>
                <button type="button" class="btn btn-danger "(click)="deletesecouriste(secouristedetails.id)">Delete</button>

            </form>
        </div>
    </div>
</div>